<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40078-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,679},{128,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>40078-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,679},{128,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,143}}</string>
                <key>sourceSize</key>
                <string>{128,143}</string>
            </dict>
            <key>40078-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,749},{125,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,142}}</string>
                <key>sourceSize</key>
                <string>{125,142}</string>
            </dict>
            <key>40078-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,604},{124,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,143}}</string>
                <key>sourceSize</key>
                <string>{124,143}</string>
            </dict>
            <key>40079-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,400},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>40079-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,782},{145,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,136}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>40079-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,633},{147,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,136}}</string>
                <key>sourceSize</key>
                <string>{147,136}</string>
            </dict>
            <key>40079-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,540},{151,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,137}}</string>
                <key>sourceSize</key>
                <string>{151,137}</string>
            </dict>
            <key>40080-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,488},{143,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,151}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>40080-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,810},{141,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,148}}</string>
                <key>sourceSize</key>
                <string>{141,148}</string>
            </dict>
            <key>40080-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{140,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,149}}</string>
                <key>sourceSize</key>
                <string>{140,149}</string>
            </dict>
            <key>40080-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,460},{142,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,153}}</string>
                <key>sourceSize</key>
                <string>{142,153}</string>
            </dict>
            <key>40080-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{137,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,150}}</string>
                <key>sourceSize</key>
                <string>{137,150}</string>
            </dict>
            <key>40080-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,809},{131,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,148}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>40080-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,809},{133,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,148}}</string>
                <key>sourceSize</key>
                <string>{133,148}</string>
            </dict>
            <key>40080-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{136,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,154}}</string>
                <key>sourceSize</key>
                <string>{136,154}</string>
            </dict>
            <key>40081-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{205,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,141}}</string>
                <key>sourceSize</key>
                <string>{205,141}</string>
            </dict>
            <key>40082-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,348},{156,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,138}}</string>
                <key>sourceSize</key>
                <string>{156,138}</string>
            </dict>
            <key>40082-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,161},{196,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,89}}</string>
                <key>sourceSize</key>
                <string>{196,89}</string>
            </dict>
            <key>40082-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,893},{136,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,127}}</string>
                <key>sourceSize</key>
                <string>{136,127}</string>
            </dict>
            <key>40082-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{174,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>40082-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{205,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,157}}</string>
                <key>sourceSize</key>
                <string>{205,157}</string>
            </dict>
            <key>40082-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{200,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,132}}</string>
                <key>sourceSize</key>
                <string>{200,132}</string>
            </dict>
            <key>40082-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,109}}</string>
                <key>sourceSize</key>
                <string>{222,109}</string>
            </dict>
            <key>40082-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,142},{196,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{196,107}</string>
            </dict>
            <key>40082-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,251},{194,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,95}}</string>
                <key>sourceSize</key>
                <string>{194,95}</string>
            </dict>
            <key>40082-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,136},{197,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,91}}</string>
                <key>sourceSize</key>
                <string>{197,91}</string>
            </dict>
            <key>40083-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,229},{196,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,89}}</string>
                <key>sourceSize</key>
                <string>{196,89}</string>
            </dict>
            <key>40084-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,320},{156,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,138}}</string>
                <key>sourceSize</key>
                <string>{156,138}</string>
            </dict>
            <key>40085-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,252},{158,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,146}}</string>
                <key>sourceSize</key>
                <string>{158,146}</string>
            </dict>
            <key>40086-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,416},{129,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,154}}</string>
                <key>sourceSize</key>
                <string>{129,154}</string>
            </dict>
            <key>40086-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,148},{129,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,181}}</string>
                <key>sourceSize</key>
                <string>{129,181}</string>
            </dict>
            <key>40086-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{205,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,138}}</string>
                <key>sourceSize</key>
                <string>{205,138}</string>
            </dict>
            <key>40086-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,547},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,137}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>40086-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,279},{162,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,135}}</string>
                <key>sourceSize</key>
                <string>{162,135}</string>
            </dict>
            <key>40087-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{158,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,135}}</string>
                <key>sourceSize</key>
                <string>{158,135}</string>
            </dict>
            <key>40088-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{158,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{158,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_ac_wolf.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40764a1c93bd1edca72cef6ffc9afaff$</string>
            <key>textureFileName</key>
            <string>role_ac_wolf.png</string>
        </dict>
    </dict>
</plist>
